
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9; 
  color: #222;
}

/* to make all centered */
#root {
  width: 100%;
  display: flex;
  justify-content: center;
}


.app-container {
  padding: 40px 20px;
}
